roles/gitlab/files/gitlab/config/gitlab-secrets.json
roles/gitlab/files/gitlab/config/ssh_host_ecdsa_key
roles/gitlab/files/gitlab/config/ssh_host_ecdsa_key.pub
roles/gitlab/files/gitlab/config/ssh_host_ed25519_key
roles/gitlab/files/gitlab/config/ssh_host_ed25519_key.pub
roles/gitlab/files/gitlab/config/ssh_host_rsa_key
roles/gitlab/files/gitlab/config/ssh_host_rsa_key.pub
roles/gitlab/files/gitlab/config/ssl/
roles/gitlab/files/gitlab/data/
roles/gitlab/files/gitlab/logs/
roles/gitlab/files/gitlab/config/.env
group_vars/secret.yml
